<table>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      
    
      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef><span appSizeTittle> Id</span></th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef><span appSizeTittle> Nombre Curso</span></th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
    
  
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="nameteacher">
        <th mat-header-cell *matHeaderCellDef><span appSizeTittle> Nombre Profesor</span> </th>
        <td mat-cell *matCellDef="let element"> {{element.nameteacher}} </td>
      </ng-container>
    
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef><span appSizeTittle> Acciones</span> </th>
        <td mat-cell *matCellDef="let element"> 
          <button  [routerLink]="['/dashboard/clases', element.id]" mat-icon-button >
            <mat-icon>visibility</mat-icon>
          </button>
          <button [disabled]="!(isAdmin$ | async)" (click)="editMateria.emit(element)" mat-icon-button >
            <mat-icon>edit</mat-icon>
          </button>
          <button [disabled]="!(isAdmin$ | async)" (click)="deleteMateria.emit(element)" mat-icon-button color="warn">
            <mat-icon>delete</mat-icon>
           </button>
        </td>
        
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    
    
</table>
