
<div class="grid">
  <h1>Cursos</h1>
  <div class="row">
    <mat-card class="col-3 example-card" *ngFor="let cursos of cursos">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ cursos.title }}</mat-card-title>
        <mat-card-subtitle>{{ cursos.subtitle }}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image [src]="cursos.image" alt="Photo of a course">
      <mat-card-content>
        <p>{{ cursos.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>INSCRIBIRME</button> 
      </mat-card-actions>
    </mat-card>
  </div>
</div>
