.example-card {
    max-width: 20%;
    margin:1%
   
    
  }
  
  .example-header-image {
    background-image: url('https://openclipart.org/image/2400px/svg_to_png/272339/angular.png');
    background-size: cover;
  }
  div{
    box-sizing: border-box;
    align-items: center;
   
 
   
  }