<mat-drawer-container class="example-container" autosize>

  <!-- SIDEBAR -->
    <mat-drawer opened mode="over" #drawer class="example-sidenav" mode="side">
      <app-nav-menu></app-nav-menu>
    </mat-drawer>
  <!-- FIN SIDEBAR -->

  <!-- CONTENT WRAPPER -->
    <div class="example-sidenav-content">

      <app-toolbar [drawer]="drawer"></app-toolbar>
      <main class="p-3">
                <router-outlet></router-outlet>
      </main>
    </div>
  <!-- FIN CONTENT WRAPPER -->
 
  </mat-drawer-container>
  
